/* USWDS Extensions */
.usa-nav__secondary {
  &--centered {
    bottom: calc(100% + 2ch);
  }
}

.usa-nav__secondary-links {
  button {
    @extend a;
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.usa-header {
  .with-dropdown,
  .with-dropdown:hover {
    text-decoration: none !important;

    .display-inline-block {
      > a {
        padding-bottom: 0.5rem;
      }
    }
  }

  .dropdown {
    position: absolute;
    z-index: 1;

    width: max-content;
  }

  .option {
    display: block;

    width: 100%;
    padding: 1em;
    height: fit-content;

    border: solid color($theme-color-base) 1px;
    background-color: #ffffff;

    text-decoration: none;
    color: color('ink');

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .option:hover {
    background-color: #e7e7e7;
  }
}
