.oec-tab-nav {
  display: flex;
  flex-wrap: wrap;

  &--header {
    width: 100%;
  }

  &--tab-container {
    flex: 1 1 auto;
    display: flex;
    padding: 0;
    border-bottom: 1px solid color(gray-10);
  }

  &--content {
    flex: 1 1 auto;
  }

  &--tab {
    font-size: 0.875rem;
    white-space: nowrap;
    padding: 1rem;
    margin: 0 0.5rem 0 0;
    width: fit-content;
    color: #565c65;
    background-color: #ffffff;
    border: none;
    border-radius: 5px 5px 0 0;

    &__active {
      &:not(.oec-tab-nav--tab__secondary) {
        background-color: $theme-color-primary;
        color: #ffffff;
        font-weight: bold;
      }
      &.oec-tab-nav--tab__secondary span {
        border-bottom: 4px solid $theme-color-primary;
      }
    }

    &__secondary {
      border-radius: unset;
    }

    &:not(&__active) {
      &:hover,
      &:focus {
        background-color: #ececec;
        color: $theme-color-primary;
      }
    }
  }

  &--dropdown {
    text-align: right;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      border: 1px solid color($theme-color-base-lighter);
      z-index: 999;

      li {
        width: 100%;

        button {
          text-align: right;
          padding: 0.25em;
          width: 100%;
          &:hover {
            background-color: color($theme-color-base-lighter);
          }
          &:focus {
            outline-offset: 0 !important;
            // Override uswds default
          }
        }
      }
    }
  }
}
