.oec-tab-nav {
  display: flex;
  flex-wrap: wrap;

  &--header {
    width: 100%;

    nav ul {
      flex: 1 1 auto;
      display: flex;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid color(gray-10);

      li {
        list-style-type: none;
      }
    }
  }

  &--content {
    flex: 1 1 auto;
  }

  &--tab {
    font-size: 0.8rem;
    flex: 0 1 auto;
    padding: 1rem;
    margin: 0 0.5rem 0 0;
    width: fit-content;
    color: #565c65;
    background-color: #ffffff;
    border: none;
    border-radius: 5px 5px 0 0;

    &__active {
      background-color: $theme-color-primary;
      color: #ffffff;
      font-weight: bold;
    }

    &:not(&__active) {
      &:hover,
      &:focus {
        cursor: pointer;
        background-color: #ececec;
        color: $theme-color-primary;
      }
    }
  }
}
