.oec-text-with-icon {
  display: block;
  margin-right: 1rem;
}

.oec-text-with-icon__icon {
  height: 1em;
  width: 1em;
  vertical-align: bottom;
}

.oec-text-with-icon__icon--side-left {
  margin-right: 0.25em;
}

.oec-text-with-icon__icon--side-right {
  margin-left: 0.25em;
}

// Arrow points right by default

.oec-text-with-icon__icon--direction-down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.oec-text-with-icon__icon--direction-left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.oec-text-with-icon__icon--direction-up {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
