.oec-editable-table {
  word-wrap: none;
  .MuiPaper-elevation2 {
    box-shadow: unset;
  }
  th {
    font-weight: bold;

    .MuiTableSortLabel-active {
      path {
        stroke: currentColor;
        stroke: $theme-color-primary;
        stroke-width: 2px;
      }
    }
  }
}
