.oec-loading-wrapper {
  width: 100%;
  position: relative;
  text-align: center;

  .bx--loading {
    display: inline-block;
  }
  .bx--loading__stroke {
    stroke: color($theme-link-color);
  }
}
