.usa-fieldset {
  padding: unset;
  margin-top: 1rem;

  &--error {
    padding-left: 1rem;
    border-left-width: 0.25rem;
    margin-left: -1.25rem;
    border-left-style: solid;
    border-left-color: color($theme-color-error-dark);
    legend * {
      font-weight: bold;
    }
  }

  &--warning {
    @extend .usa-fieldset--error;
    border-left-color: color($theme-color-warning-dark);
  }

  &--success {
    @extend .usa-fieldset--error;
    border-left-color: color($theme-color-success);
  }

  .usa-fieldset {
    // Don't show two borders if fieldsets are nested
    &--success,
    &--warning,
    &--error {
      border-left-style: none;
    }
  }

  .usa-form-group {
    &--success,
    &--warning,
    &--error {
      border-left-color: transparent;
    }
  }
}

form > fieldset:first-child {
  // We only want the top margin for the rest of the fieldsets
  margin-top: unset;
}
