.usa-fieldset {
  + .usa-fieldset {
    margin-top: 2.5rem;
  }

  &--error {
    border-left-width: 0.25rem;
    border-left-style: solid;
    border-left-color: color($theme-color-error-dark);
    legend * {
      font-weight: bold;
    }
  }

  &--warning {
    @extend .usa-fieldset--error;
    border-left-color: color($theme-color-warning-dark);
  }

  &--success {
    @extend .usa-fieldset--error;
    border-left-color: color($theme-color-success);
  }

  .usa-fieldset {
    // Don't show two borders if fieldsets are nested
    &--success,
    &--warning,
    &--error {
      border-left-style: none;
    }
  }

  .usa-form-group {
    &--success,
    &--warning,
    &--error {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }
}
