// *** Prose ***
.usa-intro {
  margin-top: 0;
}

.attention-needed {
  color: color('secondary');
}

.width-fit-content {
  width: fit-content;
}

.width-max-content {
  width: max-content;
}

.flex-align-center {
  align-items: center;
}

// *** Lists ***
/* hide original list counter */
ol > li {
  display: block;
}
/* reset counter */
ol > li:first-child {
  counter-reset: item;
}
/* increment counter */
ol > li {
  counter-increment: item;
}
/* print counter */
ol > li:before {
  content: counters(item, '.') '. ';
  font-weight: bold;
}

ol.no-list-counter > li:before {
  content: '';
}

// *** Grid ***
.grid-container > .usa-alert:first-child {
  margin-top: 1.67em;
}

.grid-container {
  margin-bottom: 2rem;
}

// *** Select Input ***
.usa-select:disabled {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #c9c9c9;
  color: white;
  pointer-events: none;
}

// *** Links ***

.usa-form a.usa-button:visited {
  @extend .usa-button, :visited;
}

// *** Forms ***
.oec-itemchooser-expansion {
  border-left: solid $theme-color-primary 4px;
  margin-left: 10px;
  padding-left: 1.3em;

  margin-bottom: 0.8em;

  > :first-child {
    padding-top: 0.7em;
  }

  > * {
    padding-bottom: 1em;
  }
}

.oec-itemchooser-expansion {
  .usa-form-group {
    .usa-label {
      margin-top: 0;
    }
  }

  .usa-form-group--error,
  .usa-form-group--warning {
    margin-top: 0;
    margin-left: -1.55rem;
  }
}
